:root {
    --darkblue: rgb(20, 44, 65);
    --black: rgb(26, 31, 31);
    --gray: rgb(39, 48, 48); 
}

ul, li {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    background-color: var(--darkblue);
    color: white;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px black;
}

#chillguy {
    background-color: transparent;
    border: 0;
    font-weight: 300;
}

#chillguy:hover {
    cursor: text;
    user-select: text;
}

/* semantic elements */

header {
    width: 100%;
}

nav {
    background-color: var(--black);
    padding: 10px 20px;
    font-weight: 600;
    border-bottom: 2px solid black;  
    
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: var(--black);
    gap: 20px;

}

nav ul li {
    background-color: var(--black);
}

nav ul li a {
    text-decoration: none;
    background-color: var(--black);

}

nav ul li a:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px red;
}

.nav-container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.portfolio-name {
    background-color: var(--black);
    padding: 10px;
}

.portfolio-name:hover {
    transform: scale(1.01);
    text-shadow: 2px 2px red;
}


.about, .skills, .education{
    padding-right: 50px;
    padding-left: 50px;
}

/* about section  */

section h1 {
    font-size: 1.5rem;
    padding: 20px;
    padding-left: 30px;
    text-align: center;
}

.about-content {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px; 
    background-color: var(--black);
    font-weight: 300;
    border: 2px solid black;
}

@media(max-width: 1336px){
    .about-content {
        gap: 50px;
        transition: transform 3s ease;
    }

}

.about-p-container {
    background-color: var(--gray);
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 2px solid black;
}

.about-p-container p + p {
    margin-top: 50px; 
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    font-size: 1.2rem;
}

.about-p-container p:first-of-type {
    max-width: 500px;
    background-color: rgb(95, 95, 73);
    font-size: 1.2rem;
    padding: 50px;
    border-bottom: 2px solid black;
}

#me {
    width: 37%;    
    background-color: var(--gray);
    padding: 30px;
}

/* skills section */

.skills-content {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px; 
    background-color: var(--black);
    font-weight: 300;
    border: 2px solid black;
}

.skills-list ul li, .hobbies-list ul li {
    list-style: none;
    text-align: center;    
}

.skills-list ul {
    margin-top: 50px;
    border: 2px solid black;
    padding: 20px;
}

.hobbies-list ul {
    margin-top: 50px;
    border: 2px solid black;
    padding: 20px;
}

.skills-list {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--black);
}

.hobbies-list {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--black);
}

.skills-list h2, .hobbies-list h2 {
    border: 2px solid black;
    background-color: rgb(95, 95, 73);
    padding: 20px 80px 20px 80px;
}

.img-wrapper {
    width: 50px;
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 20px;
    background-color: var(--black);
}

@media(max-width:853px) {

    .img-wrapper{
        position: absolute;   
    }
}

.img-wrapper #img-item {
    height: 50px;
    width: 50px;
    background-color: var(--black);
}

/* education */

.education-content {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    font-weight: 300;
    gap: 20px;
    border: 2px solid black;
    margin-bottom: 50px;
    padding: 30px;
}

p#school-info {
    background-color: var(--gray);
    text-align: center;
    width: 100%;
}

.school-list {
    background-color: var(--gray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 15px;
}

/* footer */

footer {
    border-top: 2px solid black;
    background-color: var(--black);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer p, a {
    background-color: var(--black);
    text-decoration: none;
}

footer a:hover {
    text-shadow: 2px 2px red;
}

#scrollToTopBtn {
    position: fixed; 
    bottom: 20px;    
    right: 20px;     
    padding: 10px 20px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: none; 
}

#scrollToTopBtn:hover {
    background-color: #0056b3; 
}